.remove-btn {
  float: right;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
} 

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

@media screen and (min-width: 480px) {
  .home-page {
    width: 40%;
  }
}

.list-item {
  align-items: center;
  align-self: center;
}

.add-btn {
  color: white;
  margin-bottom: 5%;
}

.remove-btn {
  margin-left: 40%;
  margin-right: 40%;
}

.item-name {
  height: 75px;
  width: 100%;
}

.profile {
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
